/* // X-Small devices (portrait phones, less than 576px) */
@media(min-width: 320px) and (max-width: 575.98px) { 
    .login_form {
        background: white;
        padding: 5rem 1.8rem !important;
    }
    .login_row_img img{
        display: none;
    }
    .common_box_main{
        margin-bottom: 1rem !important;
    }
    .profile_chart_responsive{
        display: inline-block !important;
    }
    .profile_chart_responsive_pathway{
        display: inline-block !important;
    }
    .profile_view_chart_main{
        text-align: center !important;
    }
    .form-switch{
        padding: 1.5rem 0 !important;
    }
    .progress_btn{
        margin-top: 2.5rem;
    }
    
    .duration_box,.audio_box,.progress_btn{
        text-align: center !important;
    }
    .progress_bar_main {
        padding: 2.5rem !important;
    }
    .feature_vocabulary {
        justify-content: center !important;
    }
    .feature_vocabulary_btn{
        text-align: center !important;
        margin-top: 3rem;
    }
    .feature_vocabulary_box_main{
        display: block !important;
    }
    .footer_page ,.footer_heading{
        text-align: center !important;
    }
    .navbar-brand img {
        width: 12rem !important;
    }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 575.98px) and (max-width: 767.98px) { 
    .login_row_img img{
        display: none;
    }
    .common_box_main{
        margin-bottom: 1rem !important;
    }
    .profile_chart_responsive{
        display: inline-block !important;
    }
    .profile_view_chart_main{
        text-align: center !important;
    }
    .progress_btn{
        margin-top: 2.5rem;
    }
    .duration_box,.audio_box,.progress_btn{
        text-align: center !important;
    }
    .progress_bar_main {
        padding: 2.5rem !important;
    }
    .footer_page ,.footer_heading{
        text-align: center !important;
    }
    .navbar-brand img {
        width: 12rem !important;
    }
 }
/* // Medium devices (tablets, less than 992px) */
@media(min-width: 767.98px) and (max-width: 991.98px) { 
    .progress_btn{
        margin-top: 1.5rem !important;
    }
    .progress_bar_main {
        padding: 2.5rem !important;
    }
 }

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.98px) and (max-width: 1199.98px) { 
    .progress_lesson_btn,.progress_complete_btn  {
        padding: .8rem !important;
    }
 }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }
