* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --Lexend: 'Lexend', sans-serif;
    --primary-color: #0087A0;
    --primary-two-color: #76C893;
    --secondary-color: #FFA92C;
    --secondary-two-color: #FFC570;
    --black-color: #223344;
    --bg-color: #FCFEFE;
    --border-light: #EFF4FB;
	--p-color: #777777;
    --white: white;
    --red: #FF4545;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--Lexend);
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
	/* background-color: #DFF1F4; */
	background-color: #F7F8FA;
}
img{
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--Lexend);
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
li{
	list-style: none;
}
p {
    margin-bottom: 0 !important;
}
.fw-300{
	font-weight: 300;
}
.fw-500{
	font-weight: 500;
}
.fw-600{
	font-weight: 600;
}
.fw-700{
	font-weight: 700;
}

/* common class */

.common_btn a {
	background: var(--secondary-color);
	font-size: 1.4rem;
}
.common_btn a:hover{
	background-color: var(--primary-color);
}
/* common css end */
#login .input-pass-container input {
	width: 100%;
	padding-left: 3rem;
	color: var(--p-color);
	transition: .6s;
}
#login .input-pass-container input:hover {
	border: .1rem solid var(--primary-color);
}
#login .input-pass-container .fa-lock,.fa-user,.fa-envelope,.fa-phone {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
	color: var(--p-color);
}

#login .login_orafter {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: var(--secondary-color);
	display: flex;
	align-items: center;
	text-align: center;
	margin: 1.5rem 0;
}

#login .login_orafter::before,
#login .login_orafter::after {
	content: "";
	flex: 1;
	border-bottom: 0.1rem solid #D9D9D9;
}

#login .login_orafter:not(:empty)::before {
	margin-right: 0.25rem;
}

#login .login_orafter:not(:empty)::after {
	margin-left: 0.25rem;
}
#login .google_btn{
	background-color: #4285F4;
}
#login .google_icon {
	width: 3rem;
}
#login .google_icon_main {
	background: white;
	padding: 1.5rem;
}
#login .google_icon_main {
	background: white;
	padding: 1.1rem;
	position: absolute;
	top: 50%;
	left: 0.3rem;
	transform: translateY(-50%);
}
#login .sign_up_button {
	font-size: 1.6rem;
	line-height: 2.8rem;
	color: var(--primary-color);
}
#login {
	background: #FFEDEB;
	
}
.login_form {
	background: white;
	padding: 4rem 5rem;
	
}
.login_position_img {
	position: absolute;
	top: 0;
	width: 10rem;
	right: 0;
}
.signUp{
	background-color: #0088a02d !important;
}
.google_btn:hover{
	background-color: var(--primary-color) !important;
}
#form input{
	font-size: 1.4rem;
	padding: 1rem;
	
}
/* dasboard css start */
#dashboard_header{
	background-color: var(--primary-color);
}
#navbarSupportedContent .nav-link{
	font-size: 1.4rem;
	line-height: 2.4rem;
	color: var(--white);
}
.image_dropdown_toggle::after{
	display: none !important;
}
.header_serach_bar i {
	font-size: 1.4rem;
	margin-right: .8rem;
	color: var(--p-color);
}
.header_serach_bar {
	display: flex;
	align-items: center;
	background: var(--white);
	padding: 1rem 2rem;
	border-radius: 5rem;
}
.nav-link.active {
	background: var(--secondary-color);
	border-radius: .5rem;
}
.image_dropdown img {
	width: 3rem !important;
	border-radius: 50%;
}

#dashboard_section ,#lesson_library_section ,#laravel1_italian{
	padding: 4rem 0;
}
.profile_main img {
	width: 12rem;
}
.profile_main i {
	position: absolute;
	background: var(--secondary-color);
	font-size: 1.4rem;
	padding: .8rem;
	border-radius: 5rem;
	color: white;
	right: 50%;
	transform: translateX(195%);
}
.profile_heading h4{
	font-size: 2.4rem;
	line-height: 3.4rem;
	color: var(--black-color);
}
.beginner_option {
	font-size: 1.4rem;
	border: .1rem solid var(--primary-color);
	color: var(--primary-color);
	background: white;
	padding: 1rem 0;
	border-radius: .5rem;
}

.profile_chart {
	border: .1rem solid var(--border-light);
	padding: 1.5rem;
	border-radius: .5rem;
}
.profile_chart h5{
	font-size: 1.6rem;
	line-height: 2.5rem;
	text-align: left !important;
}
.common_box_icon i {
	font-size: 1.9rem;
	background: #0088a034;
	color: var(--primary-color);
	padding: 1.5rem;
	width: 4.8rem;
	height: 4.8rem;
	text-align: center;
}
.sim_card_icon i {
	background: #ff906b33;
	color: #FF8F6B;
}
.sim_clock_icon i {
	background: #7955f04b;
	color: #7855F0;
}
.sim_card_heading {
	color: #FF8F6B !important;
}
.sim_clock_heading {
	color: #7855F0 !important;
}
.widget-item h2{
	font-size: 3.2rem;
	line-height: 4.2rem;
	color: var(--primary-color);
}
.widget-item p{
	font-size: 1.4rem;
	line-height: 2rem;
	color: var(--p-color);
}

.profile_view_chart_heading h5 ,.library_label,.card-title{
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: var(--black-color);
}
#flexSwitchCheckChecked {
	font-size: 1.5rem;
	color: var(--p-color);
}
.progress_bar_heading p{
	font-size: 1.4rem;
	line-height: 2.4rem;
	color: var(--black-color);
}
.progress {
	background: var(--border-light);
}
.common_box h4 {
	font-size: 2.4rem;
	line-height: 3.4rem;
	background-color: var(--secondary-color);
}
.common_box_two h4 {
	background-color: var(--primary-color);
}
.feature_lesson_box h4 {
	background-color: #FEEFEE;
	color: var(--red);
}
.common_box_heading p{
	font-size: 1.5rem;
	line-height: 2.3rem;
	color: var(--p-color);
}
.common_box_heading h5{
	font-size: 1.7rem;
	line-height: 2.7rem;
	color: var(--black-color);
}
.audio_box {
	font-size: 1.5rem;
	line-height: 2.6rem;
	color: var(--primary-color);
}
.feature_lesson_video_icon i{
	color: var(--secondary-color);
}
.duration_box {
	font-size: 1.5rem;
	line-height: 2.6rem;
	color: var(--red);
}
.progress_lesson_btn a{
	background-color: var(--secondary-color);
	border: .2rem solid var(--secondary-color);
	transition: ease-in-out .6s;
}
.progress_lesson_btn a:hover{
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}
.progress_complete_btn a{
	border: .2rem solid var(--primary-color);
	color: var(--black-color);
	transition: ease-in-out .6s;
}
.progress_complete_btn a:hover{
	background-color: var(--primary-color) !important;
	border-color: var(--primary-color);
	color: var(--white);
}
.feature_lesson_btn a{
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}
.progress_bar_main{
	background: linear-gradient(to bottom, #FFFFFF, #FFF4E5);
	border: .1rem solid #FFF4E5;
}
.progress_bar_main_level2{
	background: #0088a01c;
	border: .1rem solid #FFF4E5;
}
.progress-bar {
	background: var(--secondary-color);
}
.progress_bar_level2{
	background: var(--primary-color);
}
.feature_lesson_time_box{
	border-top: .1rem solid var(--border-light);
	border-bottom: .1rem solid var(--border-light);
}
.feature_lesson_box_main{
	border: .1rem solid var(--border-light);
	padding: 2.6rem;
}
.feature_lesson_box_main:hover{
	border-color: var(--secondary-two-color);
}
.featured_btn{
	font-size: 1.5rem;
	color: var(--primary-color);
}
.feature_vocabulary h4{
	font-size: 1.6rem;
	background-color: #0088a01e;
	color: #0087A0;
}
.feature_vocabulary_btn{
	text-align: end;
}
.vocabulary_btn_color{
	color: var(--secondary-color);
}
.feature_vocabulary_heading h5{
	font-size: 1.5rem;
}
.feature_vocabulary_btn a{
	font-size: 1.4rem;
}
/* dasboard css end */
/* footer css start */
#footer_section{
	background-color: var(--primary-color);
}
#footer_section .footer_heading p{
	font-size: 1.4rem;
	line-height: 2.2rem;
	color: var(--black-color);
}
#footer_section .footer_heading span{
	color: var(--secondary-color);
}
.footer_page{
	text-align: end;
}
/* footer css end */


/* lesson library pages css start */
#lesson_library_section .lesson_library_img{
	border: .1rem dotted var(--primary-color);
}
#library_filed {
	font-size: 1.4rem;
	padding: 1rem;
	color: var(--primary-color);
	border: .1rem solid var(--primary-color);
}
#lesson_library_section .search-bar {
	background-color: #f8f5f2;
	
}
#lesson_library_section .search-input {
	border: none;
	box-shadow: none;
	flex-grow: 1;
}
#lesson_library_section .search-button {
	font-size: 1.4rem;
	background-color: var(--primary-color);
	transition: ease-in-out .6s;
}
#lesson_library_section .search-button:hover{
	background-color: var(--secondary-color);
}
#lesson_library_section .lesson_library_border {
	border: 1px solid #0088a038;
}

#lesson_library_section .custom-control-label {
	font-size: 1.4rem;
	color: var(--black-color);
	background: #0088a028;
	padding: 1rem;
	border-left: .5rem solid var(--primary-color);
	border-radius: .4rem;
}

#lesson_library_section .common_box img {
	width: 6rem;
}
#laravel1_top_bix .common_box img {
	width: 6rem;
}
#lesson_library_section .lesson_library_img img {
	width: 4rem;
}
/* lesson library css end */
/* laravel 1 italian css start */
#breadcrumb{
	background-color: var(--black-color);
}
#breadcrumb .breadcrumb-item{
	font-size: 1.2rem;
	font-weight: 600;
}
#breadcrumb .breadcrumb-item a{
	color: var(--bg-color);
}
#breadcrumb .breadcrumb-item.active{
	color: var(--secondary-color);
}
#breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	color: var(--bg-color);
}
#laravel1_italian .laravel_audio_lesson a{
	font-size: 1.4rem;
	line-height: 2.2rem;
	color: var(--primary-color);
	background-color: #0088a024;
	padding: 1.3rem;
}
#laravel1_italian .laravel_video_lesson a{
	background-color: #ffc67055;
	color: var(--secondary-color);
}
#laravel1_italian .laravel_vocabulary_lesson a{
	background-color: rgba(255, 0, 0, 0.172);
	color: var(--red);
}
#laravel1_italian .laravel_audio_lesson a{
	width: 100%;
}
#laravel1_italian .multi_choice_box{
	color: var(--secondary-color);
}
#laravel1_italian .laravel_italian_btn a{
	background-color: var(--primary-color);
}
#laravel1_italian .laravel_italian_main_box{
	background: linear-gradient(to bottom, #FFFFFF, #FFF4E5);
	border: .1rem solid #ff906b5a;
	padding: 2rem;
}
#laravel1_italian .laravel_audio_lesson a {
	border-radius: 5rem !important;
}
#laravel1_italian .laravel_audio_lesson a:hover {
	background-color: var(--primary-color);
	color: var(--white);
	cursor: auto;
}
#laravel1_italian .laravel_italian_btn a:hover{
	background-color: var(--primary-two-color);
}
#laravel1_italian .laravel1_it_box h4 {
	font-size: 2rem;
	line-height: 3rem;
	background-color: #0088a03d;
	width: 5rem;
	height: 5rem;
	text-align: center;
	color: var(--primary-color);
	z-index: 1; 
  }
  
  #laravel1_italian .laravael1_step::after {
	content: '';
	position: absolute;
	top: 100%; 
	left: 50%;
	width: .4rem;
	background-color: #DFF1F4;
	height: 6.5rem;
	transform: translateX(-50%);
	z-index: 0; 
  }
.laravel1_contact {
	border-bottom: .1rem dashed var(--red);
}

/* laravel 1 italian css end */
/* newst lesson css start */
#newest_lesson .newest_lesson_img img{
	width: 4rem;
}
#newest_lesson .newest_box_img img{
	width: 6rem;
}
.newst_lesson_btn i {
	background-color: var(--primary-color) !important; 
	padding: 1.5rem;
	border-radius: 5rem;
	color: var(--white);
	border-color: var(--primary-color) !important;
}
.newst_lesson_btn i:hover {
	background-color: var(--secondary-color) !important;
	border-color: var(--secondary-color) !important;
}
.newst_lesson_btn i{
	font-size: 1.8rem;
}
/* #laravel1_italian {
	background-color: #F7F8FA;
}
#all_contact {
	background-color: #F7F8FA;
} */
/* newst lesson css end */

.contact_border{
	border-bottom: .1rem dashed var(--primary-color);
}
#laravel1_top_bix {
	
	background: #DFF1F4;
}
/*follow css start  */
.common_vocavulary_img{
	display: inline-block;
	border: .1rem dashed var(--primary-color);
	border-radius: 50%;
	padding: 1.5rem;
}
.common_vocavulary_img img{
	width: 5rem;
	
}
.common_vocavulary_box h4{
	font-size: 2.4rem;
	line-height: 3.4rem;
	color: var(--black-color);
}
.common_vocavulary_box span{
	color: var(--primary-color);
}
/* follow css end */
/* vocabulary  css start */
#vocabulary_section{
	background-color: #DFF1F4;
}
#vocabulary_section .common_box img {
	width: 6rem;
}

#vocabulary_section .vocabulary_btn a {
	font-size: 1.4rem;
	line-height: 2.2rem;
}
#vocabulary_section .add_new {
	color: var(--primary-two-color);
}
#vocabulary_section .add_setting {
	color: var(--primary-color);
}
#vocabulary_section .add_comment {
	color: var(--secondary-color);
}
#vocabulary_section .add_delete {
	color: var(--red);
}
/* vocabulary  css end */